@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Baloo+2:wght@400..800&family=Boogaloo&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/* 
h1: Yanone Kaffeesatz
h2: Boogaloo
p: Baloo 2
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url("https://images3.alphacoders.com/869/thumb-1920-869197.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed; 
     /* background: linear-gradient(90deg, #593A7E, #8419CA,#723BAD) ;  */
} 


.imagen_fondo img{
     background-size: auto ;
     background-position: center top;
     z-index: -10;

} 
/*----- Header----- */

header{
    display: flex;
    justify-content: end;
    padding: 1rem 5rem;
    height: 6.9rem;
    gap: 20px;
}
.contenedor_botones{
    display: flex;
    gap: 30px;
    align-items: center;
}

/* buscador */

.contenedor_buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 45px;
    background-color: rgb(103, 103, 104);
    border-radius: 15px;
    gap: 5px;
    margin-top: 16px;
    
}
.buscador input{
    border-radius: 10px;
    width: 185px;
    height: 30px;
    padding: 10px;
    font-family: "Baloo 2",sans-serif;
}
.lupa img{
  position: relative;
  width: 20px;
  height: 20px;
  top: 2px;
  cursor: pointer;
}


/* logo */

.contenedor_logo{
    position: absolute;
    top: 4%;
    left: 3%;
}
.logo{
    display: flex;
    align-items: center;
}
.menor_que{
    position: absolute;
    top: -2px;
    left: -16px;
    font-size: 20px;
}
.codo_1{
    position: absolute;
    top: -4px;
    left: -3px;
    font-size: 20px;
    text-shadow: 0 0 4px #fcfcfc;
    border: none;
}
.a{
    position: absolute;
    top: -4px;
    left: 40px;
    font-size: 20px;
}
.codo_2{
    position: absolute;
    top: -4px;
    left: 52px;
    text-shadow: 0 0 4px #fcfcfc;
    font-size: 20px;
}
.mayor_que{
    position: absolute;
    top: -2px;
    left: 94px;
    font-size: 20px;
}
.m{
    position: absolute;
    top: 13px;
    left: -10px;
    font-size: 35px;
    text-shadow: 0 0 4px #e503fa;
}
.logo img{
    position: absolute;
    top: 19px;
    left: 22px;
    width: 35px;
}
.vie{
    position: absolute;
    top: 13px;
    left: 50px;
    font-size: 35px;
    text-shadow: 0 0 4px #d907ec;
}
#codo{
    color: rgb(49, 6, 47);
}
#violeta{
    color: rgb(49, 6, 47);
}
#blanco{
    color: rgb(245, 244, 244);
}

/* botones */

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.btn{
    border-radius: 14px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    font-family: "Baloo 2",sans-serif;
    
}

/* Navegador */
.nav{
    position: fixed;
    padding: 5px;
    display: flex;
    margin-left: 25px;
}
nav{
    width: 7rem;
    height: 60rem;
    position: fixed;
    padding: 5px;
    margin: 8px 0px;
    
    gap: 15px;
} 
.navegador{
    margin: 3rem 0rem 0rem 3rem;

}
.navegador img {
    justify-content: center;
}
.navegador a{
    text-decoration: none;
    color: rgb(180, 179, 175);
    text-align: center;
}
.home, .estrenos, .peliculas, .series, .traiding, .mi_cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 7px;
    cursor: pointer;
}
.icono{
    width: 35px;
    height: 35px;

}

/***MAIN-CONTENEDOR***/


 main{
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    margin-left: 8vw;
 }
 .contenedorPrincipal{
    width: 100%;
 }
#contenedorPeliculas {
   width: 85vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-left: 5vw; 
} 
#tarjeta {
   margin: 20px 20px;
   width: 300px;
} 
#texto {
   color: white;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 20px;
}
  
#contenedorImagen {
  display: flex;
  justify-content: center;
}
  
#imagen {
  border-radius: 20px;
  width: 280px;
  height: 370px;
}

/** CONTENEDOR TABLA **/


.contenedorBusqueda{
   width: 100%;
   margin-left: 2vw; 
}

.tabla{
    width: 100%;
}

  
  .tbody.active{
    display: contents;
    width: 75vw;
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
    border-spacing: 10;
    border: 2px solid rgb(80, 65, 165);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    text-align: center;
  }
  
  thead{
    background: rgb(243, 140, 210, 0.4);
    width: 65vw;
    height: 57px;
  }

  .id, .titulo, .descripcion, .genero,
  .puntuaje, .director{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(224, 224, 218);
  }
  
